@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="logoPetLife" src="~/img/logoPetLife.webp" />
    <h1 class="display-4 cursiveFont">PetLife</h1>
    <p>A carteirinha de Saúde do seu Pet</p>
</div>