@{
    ViewData["Title"] = "Sobre Nós";
}
<h1>@ViewData["Title"]</h1>

<p>
    Somos uma aplicação voltada ao cuidado aos Pets, visando a melhor forma de cuidar dos seus bichinhos, administrando corretamente os horários em que devem tomar suas devidas medicações e as datas
    de suas vacinas, para assim não perderem nenhuma dose.
</p>
